* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: OpenSans;
    src: url(../fonts/OpenSans-Regular.ttf);
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: OpenSans;
    src: url(../fonts/OpenSans-Bold.ttf);
    font-weight: 700;
    font-style: bold;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    clip: rect(1px, 1px, 1px, 1px);
}

body {
    font-family: OpenSans, sans-serif;
    
}

/*     Header   --------------------------------------------------------------------------------*/

/* 
.header {
    width: 100vw;
    height: 100vh;
    background-color: #1b2c33;
    background-image: url(../images/banner-mobile.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    position: relative;
}

.header::after {
    content: "";
    position: absolute;
    background-color: #000000;
    opacity: 0.6;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}



.wellcome-container {
    width: 330px;
    margin-right: 15px;
    margin-left: 15px;
    position: relative;
    z-index: 10;
}

.main-title {
    display: inline-block;
    max-width: 328px;
    max-height: 384px;
    font-size: 26px;
    line-height: 36px;
    color: #ffffff;
    font-weight: 700;
    
    text-align: center;
    text-transform: uppercase;
    margin-top: 30px;
}

.logo {
    display: block;
    width: 270px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 225px;
}

/*-------     Main    -------------------------------------------------------------------------------- 

/*   trends    


.section-title {
    font-size: 16px;
    color: #0f0d0e;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 24px;
}

.trends-title {
    margin-top: 40px;
}

.section-title::after {
    content: "";
    /* position: absolute; 
    width: 66px;
    height: 3px;
    background-color: #b59f5b;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 7px;
}

.trend-banner {
    width: 100vw;
    height: 232px;
    background-color: #606260;
    
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    position: relative;
   
    margin-bottom: 3px;
    display: flex;
    align-items: flex-end;
}

.windowsill-garden {
    background-image: url(../images/trend1.jpg);
}

.cheeses {
    background-image: url(../images/trend2.jpg);
}

.mountains-hiking {
    background-image: url(../images/trend3.jpg);
}

.vitaminC {
    background-image: url(../images/trend4.jpg);
}

.trend-banner::after {
    content: "";
    position: absolute;
    background-color: #000000;
    opacity: 0.6;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.trend-banner-box {
    width: 100%; /*  Поменять потом на относительные величины и max-width
    padding: 12px 15px 18px;
    
    margin-right: 15px;
    margin-left: 15px;
    border: 3px solid #b59f5b;
    position: relative;
    z-index: 10;
    
    margin-bottom: 12px;
}

.cathegory-list {
    display: flex;
    list-style-type: none;
}

.cathegory-item {
    font-size: 14px;
    line-height: 37px;
    color: #b59f5b;
    font-weight: 700;
    text-transform: uppercase; /* сделать отдельный класс и один раз прописать ?  
    margin-right: 15px;
}

.cathegory-link:hover {
    text-decoration: underline;
}

.link {
    text-decoration: none;
    color: inherit;
}

.trend-banner-title {
    font-size: 16px;
    line-height: 20px;
    color: #ffffff;
    font-weight: 700;
    text-decoration: no-un;
    text-transform: uppercase;
    
}

.trend-banner-title-link:hover {
    color: #b59f5b;
} */

/* Articles -------------------------------------------------------*/

/* .section {
    margin: 40px 15px 10px;
    
} */

/*.article {  ------ Попытка сверстать с помощью стилей, но кода получается намного больше
    position: relative;
}

.article::after {
    content: "";
    position: absolute;
    height: 254px;
    background-color: #eff6f1;
    margin-top: 44px;
    background-image: url(../images/last-post1.jpg);
    background-repeat: no-repeat;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
} */
/* 
.article-image {
    display: block;
    height: 254px;
    background-color: #eff6f1; /* не работает... понять, почему
    margin-top: 38px;
}

.article-title {
    font-size: 16px;
    line-height: 22px;
    color: #0f0d0e;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 6px;
}

.article-title:hover {  /*  Возможно, логичнее перенести 
    это свойство на саму ссылку, дав ей доп. класс
    color: #b59f5b;
}

.data {   /*   Посмотреть, может, объединить у них с автором 
     часть стилей в общее правило
    font-size: 12px;
line-height: 40px;
color: #888888;
font-weight: 400;
margin-right: 6px;
margin-bottom: 8px;
}

.author {
    font-size: 12px;
line-height: 40px;
color: #000000;
font-weight: 700;
margin-bottom: 8px;
}

.text {
    font-size: 14px;
    line-height: 20px;
    color: #0f0d0e;
    font-weight: 400;
    margin-bottom: 10px;
}

.article::after {
    content: "";
    /* position: absolute; 
     width: 320px;
    height: 3px; 
    /* background-color: #cac7bb; 
    background-color: #f4f7f6;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

/*  Секция Новые посты



.newpost {
    display: flex;
    margin-bottom: 20px;
}

.newpost-image {
    width: 70px;
height: 70px;
background-color: #f4f7f6;
margin-right: 15px;
}

.newpost-data {
    font-size: 12px;
color: #000000;
font-weight: 400;
margin-bottom: 4px;
display: block;
}

.newpost-title {
    font-size: 14px;
color: #000000;
font-weight: 700;
text-transform: uppercase;
}

.newpost-title:hover {
        color: #b59f5b;
} */

/*   Секция ПОИСК  */

/* 

.search-form {
    /* -webkit-appearance: none;
    -moz-appearance: none; 

    display: flex;
}

.search-field {
    -webkit-appearance: none;
    -moz-appearance: none; 
    
    width: 282px;
    height: 48px;
    background-color: #f4f7f6;
    /*background-color: #eff6f1;
    /* background-color: #cac7bb;
     /*Взяла свой, как и 
    для черты, тот же свой  
    font-size: 13px;
    line-height: 40px;
    color: #000000;
  
    padding-left: 20px;
    box-sizing: border-box;
    border-style: none;
    font-family: OpenSans, sans-serif;
    
  }

  .search-field:focus {
    -webkit-appearance: none;
    -moz-appearance: none;
    border: 1px solid #b59f5b;
  }

  .search-btn {
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 48px;
    height: 48px;
    background-color: #b59f5b;
    background-image: url(../svg/search.svg);
    border-style: none;
    background-repeat: no-repeat;
  background-position: center center;
  background-size: 20px;
  box-sizing: border-box;
  }

  .search-btn:focus {
    -webkit-appearance: none;
    -moz-appearance: none;
    background-color: #323232;
  } */
  