* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: OpenSans;
    src: url(../fonts/OpenSans-Regular.ttf);
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: OpenSans;
    src: url(../fonts/OpenSans-Bold.ttf);
    font-weight: 700;
    font-style: bold;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    clip: rect(1px, 1px, 1px, 1px);
}

body {
    font-family: OpenSans, sans-serif;
    background-color: #eff6f1;
}

/*     Header   --------------------------------------------------------------------------------*/


.header {
    width: 100vw;
    height: 100vh;
    background-color: #1b2c33;
    background-image: url(../images/banner-mobile.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    position: relative;
}

.header::after {
    content: "";
    position: absolute;
    background-color: #000000;
    opacity: 0.6;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}



.wellcome-container {
    width: 330px;
    margin-right: 15px;
    margin-left: 15px;
    position: relative;
    z-index: 10;
}

.main-title {
    display: inline-block;
    max-width: 328px;
    max-height: 384px;
    font-size: 26px;
    line-height: 36px;
    color: #ffffff;
    font-weight: 700;
    
    text-align: center;
    text-transform: uppercase;
    margin-top: 30px;
}

.logo {
    display: block;
    width: 270px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 225px;
    /* margin-bottom: 52px; */
}

/*-------     Main    -------------------------------------------------------------------------------- */

/*   trends    */


.trends-title {
    font-size: 16px;
    color: #0f0d0e;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    margin-top: 36px;
    margin-bottom: 24px;
}

.trends-title::after {
    content: "";
    /* position: absolute; */
    width: 66px;
    height: 3px;
    background-color: #b59f5b;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 7px;
}

.trend-banner {
    width: 100vw;
    height: 232px;
    background-color: #606260;
    
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    position: relative;
   
    margin-bottom: 3px;
    display: flex;
    align-items: flex-end;
}

.windowsill-garden {
    background-image: url(../images/trend1.jpg);
}

.cheeses {
    background-image: url(../images/trend2.jpg);
}

.mountains-hiking {
    background-image: url(../images/trend3.jpg);
}

.vitaminC {
    background-image: url(../images/trend4.jpg);
}

.trend-banner::after {
    content: "";
    position: absolute;
    background-color: #000000;
    opacity: 0.6;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.trend-banner-box {
    width: 100%; /*  Поменять потом на относительные величины и max-width*/
    padding: 12px 15px 18px;
    
    margin-right: 15px;
    margin-left: 15px;
    /* height: 110px; /* по макету 127, но пропорции не те ?? 
    Уйти от жесткой высоты на флексы!! Прижать книзу */
    border: 3px solid #b59f5b;
    position: relative;
    z-index: 10;
    
    margin-bottom: 12px;
}

.cathegory-list {
    display: flex;
    list-style-type: none;
}

.cathegory-item {
    font-size: 14px;
    line-height: 37px;
    color: #b59f5b;
    font-weight: 700;
    text-transform: uppercase; /* сделать отдельный класс и один раз прописать ?  */
    margin-right: 15px;
}

.cathegory-link:hover {
    text-decoration: underline;
}

.link {
    text-decoration: none;
    color: inherit;
}

.trend-banner-title {
    font-size: 16px;
    line-height: 20px;
    color: #ffffff;
    font-weight: 700;
    text-decoration: no-un;
    text-transform: uppercase;
    
}

.trend-banner-title-link:hover {
    color: #b59f5b;
}

/* Articles -------------------------------------------------------*/

.articles {
    margin: 10px 15px 10px; /*  верхний проверить на схлопывание
     Нижний сейчас вообще наобум, померить его после*/
}

/*.article {  ------ Попытка сверстать с помощью стилей, но кода получается намного больше
    position: relative;
}

.article::after {
    content: "";
    position: absolute;
    height: 254px;
    background-color: #eff6f1;
    margin-top: 44px;
    background-image: url(../images/last-post1.jpg);
    background-repeat: no-repeat;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
} */

.article-image {
    display: block;
    height: 254px;
    background-color: #eff6f1; /* не работает...*/
    margin-top: 38px;
}

.article-title {
    font-size: 16px;
    line-height: 22px;
    color: #0f0d0e;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 6px;
}

.article-title:hover {
    color: #b59f5b;
}

.data {   /*   Посмотреть, может, объединить у них часть стилей в общее правило*/
    font-size: 12px;
line-height: 40px;
color: #888888;
font-weight: 400;
margin-right: 6px;
margin-bottom: 8px;
}

.author {
    font-size: 12px;
line-height: 40px;
color: #000000;
font-weight: 700;
margin-bottom: 8px;
}

.text {
    font-size: 14px;
    line-height: 20px;
    color: #0f0d0e;
    font-weight: 400;
   /* margin-top: 8px; */
    margin-bottom: 10px;
}

.article::after {
    content: "";
    /* position: absolute; */
    width: 329px;
height: 3px;
background-color: #cac7bb;
display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}