* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: OpenSans;
    src: url(../fonts/OpenSans-Regular.ttf);
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: OpenSans;
    src: url(../fonts/OpenSans-Bold.ttf);
    font-weight: 700;
    font-style: bold;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    clip: rect(1px, 1px, 1px, 1px);
}

body {
    font-family: OpenSans, sans-serif;
    
}

/*     Header   --------------------------------------------------------------------------------*/


.header {
    width: 100vw;
    height: 100vh;
    background-color: #1b2c33;
    background-image: url(../images/banner-mobile.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    position: relative;
}

.header::after {
    content: "";
    position: absolute;
    background-color: #000000;
    opacity: 0.6;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}



.wellcome-container {
    width: 330px;
    margin-right: 15px;
    margin-left: 15px;
    position: relative;
    z-index: 10;
}

.hamburger-menu {
    padding-top: 32px;
    /* height: 19px;
    width: 23px; */
    padding-left: 307px;
}

.hamburger-btn {
    -webkit-appearance: none;
    -moz-appearance: none;
    border-style: none;
}

.hamburger-line {
    
    width: 23px;
    height: 3px;
    background-color: #fff;
   /* position: relative; */
}

.hamburger-btn::before {
    content: "";
    -webkit-appearance: none;
    -moz-appearance: none;
    display: block;
    width: 23px;
    height: 3px;
    background-color: #fff;
    margin-bottom: 5px;
}

.hamburger-btn::after {
    content: "";
    -webkit-appearance: none;
    -moz-appearance: none;
    display: block;
    width: 23px;
    height: 3px;
    background-color: #fff;
    margin-top: 5px;
}

.logo {
    display: block;
    width: 270px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 174px;
} 

.main-title {
    display: inline-block;
    max-width: 328px;
    max-height: 384px;
    font-size: 26px;
    line-height: 36px;
    color: #ffffff;
    font-weight: 700;
    
    text-align: center;
    text-transform: uppercase;
    margin-top: 30px;
}



/*-------     Main    -------------------------------------------------------------------------------- 

/*  trends    */


.section-title {
    font-size: 16px;
    color: #0f0d0e;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 28px;
}

.trends-title {
    margin-top: 40px;
}

.section-title::after {
    content: "";
    /* position: absolute; */
    width: 66px;
    height: 3px;
    background-color: #b59f5b;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 8px;
}

.trend-banner {
    width: 100vw;
    height: 232px;
    background-color: #f4f7f6;
    
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    position: relative;
   
    margin-bottom: 3px;
    display: flex;
    align-items: flex-end;
}

.windowsill-garden {
    background-image: url(../images/trend1.jpg);
}

.cheeses {
    background-image: url(../images/trend2.jpg);
}

.mountains-hiking {
    background-image: url(../images/trend3.jpg);
}

.vitaminC {
    background-image: url(../images/trend4.jpg);
}

.trend-banner::after {
    content: "";
    position: absolute;
    background-color: #000000;
    opacity: 0.6;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.trend-banner-box {
    width: 100%; /*  Поменять потом 
    на относительные величины и max-width */
    padding: 12px 15px 18px;
    
    margin-right: 15px;
    margin-left: 15px;
    border: 3px solid #b59f5b;
    position: relative;
    z-index: 10;
    
    margin-bottom: 12px;
}


.cathegory-list {
    display: flex;
   
}

.list {
    list-style-type: none;
}

.cathegory-item {
    font-size: 14px;
    line-height: 37px;
    color: #b59f5b;
    font-weight: 700;
    text-transform: uppercase; /* сделать 
    отдельный класс и один раз прописать ?  */
    margin-right: 15px;
}

.cathegory-link:hover {
    text-decoration: underline;
}

.link {
    text-decoration: none;
    color: inherit;
}

.trend-banner-title {
    font-size: 16px;
    line-height: 20px;
    color: #f4f7f6;
    font-weight: 700;
    text-decoration: no-un;
    text-transform: uppercase;
    
}

.trend-banner-title-link:hover {
    color: #b59f5b;
}

/* Articles -------------------------------------------------------*/

 .section {
    margin: 40px 15px 12px;
    
} 
/*
.article {  /*------ Попытка сверстать 
    с помощью стилей, но кода получается намного больше 
    position: relative;
}

.article::after {
    content: "";
    position: absolute;
    height: 254px;
    background-color: #eff6f1;
    margin-top: 44px;
    background-image: url(../images/last-post1.jpg);
    background-repeat: no-repeat;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
} */

.article-image {
    display: block;
    height: 254px;
    background-color: #f4f7f6;
    margin-top: 38px;
}

.article-title {
    font-size: 16px;
    line-height: 22px;
    color: #0f0d0e;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 6px;
}

.article-title:hover {  /*  Возможно, логичнее перенести 
    это свойство на саму ссылку, дав ей доп. класс */
    color: #b59f5b;
}

.data {   /*   Посмотреть, может, объединить у них 
    с автором  часть стилей в общее правило */
    font-size: 12px;
line-height: 40px;
color: #888888;
font-weight: 400;
margin-right: 6px;
margin-bottom: 8px;
}

.author {
    font-size: 12px;
line-height: 40px;
color: #000000;
font-weight: 700;
margin-bottom: 8px;
}

.text {
    font-size: 14px;
    line-height: 20px;
    color: #0f0d0e;
    font-weight: 400;
    margin-bottom: 10px;
}

.article::after {
    content: "";
    /* position: absolute; ?? */
    width: 330px;
    height: 3px; 

    background-color: #f4f7f6;
    
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

/*  Секция Новые посты  */



.newpost {
    display: flex;
    margin-bottom: 20px;
}

.newpost-image {
    width: 70px;
height: 70px;
background-color: #f4f7f6;
margin-right: 15px;
}

.newpost-data {
    font-size: 12px;
color: #000000;
font-weight: 400;
margin-bottom: 4px;
display: block;
}

.newpost-title {
    font-size: 14px;
color: #000000;
font-weight: 700;
text-transform: uppercase;
}

.newpost-title:hover {
        color: #b59f5b;
} 

/*   Секция ПОИСК  */



.search-form {
    /* -webkit-appearance: none;
    -moz-appearance: none; */

    display: flex;
}

.search-field {
    -webkit-appearance: none;
    -moz-appearance: none; 
    
    width: 282px;
    height: 48px;
    background-color: #f4f7f6;
    /*background-color: #eff6f1;
    /* background-color: #cac7bb;
     /*Взяла свой, как и 
    для черты, тот же свой  */
    font-size: 13px;
    line-height: 40px;
    color: #000000;
  
    padding-left: 20px;
    box-sizing: border-box;
    border-style: none;
    font-family: OpenSans, sans-serif;
    
  }

  .search-field:focus {
    -webkit-appearance: none;
    -moz-appearance: none;
    border: 1px solid #b59f5b;
  }

  .search-btn {
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 48px;
    height: 48px;
    background-color: #b59f5b;
    background-image: url(../svg/search.svg);
    border-style: none;
    background-repeat: no-repeat;
  background-position: center center;
  background-size: 20px;
  box-sizing: border-box;
  }

  .search-btn:hover {
    -webkit-appearance: none;
    -moz-appearance: none;
    background-color: #323232; 
  }


  .email-field {
    -webkit-appearance: none;
    -moz-appearance: none;

    width: 330px;
    height: 48px;
    background-color: #f4f7f6;

    font-size: 13px;
line-height: 40px;
color: #000000;
font-weight: 400;
font-family: "Open Sans", sans-serif;
padding-left: 20px;
    box-sizing: border-box;
    border-style: none;

    margin-bottom: 18px;
  }

  .email-field:focus {
    -webkit-appearance: none;
    -moz-appearance: none;
    border: 1px solid #b59f5b;
  }

  .email-btn {
    -webkit-appearance: none;
    -moz-appearance: none;

    width: 330px;
height: 48px;
background-color: #b59f5b;

font-size: 14px;
line-height: 40px;
color: #ffffff;
font-weight: 700;
font-family: "Open Sans", sans-serif;
  text-transform: uppercase;  
box-sizing: border-box;
    border-style: none;
  }

  .email-btn:hover {
    -webkit-appearance: none;
    -moz-appearance: none;
    background-color: #323232;
  }



.tags-list {
    display: flex;
    flex-wrap: wrap;
    
}

.tag-item {
    font-size: 12px;

color: #0f0d0e;
font-weight: 700;
text-align: center;

text-transform: uppercase;
padding-left: 12px;
padding-right: 12px;
padding-top: 4px;

height: 30px;
display: block;
background-color: #fff;
border: 3px solid #f4f7f6;

margin-bottom: 6px;
margin-right: 6px;
}

.tag-item:hover {
    border: 3px solid #b59f5b;
}

.themes-item {
    font-size: 14px;
/* line-height: 47px; */
color: #000000;
font-weight: 700;
    margin-top: 12px;
    
}

.themes-item::after {
    content: "";
    display: block;
    width: 330px;
height: 1px;
background-color: #eeeeee;
margin-top: 12px;
}

.number {
    font-size: 12px;

color: #b59f5b;
font-weight: 700;
margin-left: 2px;
vertical-align: text-top;
}

.goods-card {
    margin-bottom: 30px; /* М\б убрать 
    его у последней карточки?*/
}

.goods-image {
    width: 285px;
height: 285px;
background-color: #f4f7f6;
margin-left: 20px;
}

.goods-box {
    padding: 12px 25px 24px 20px;
    position: relative;
}

.goods-box::after {
    content: "";
    position: absolute;
    display: block;
    width: 330px;
    /* height: 220px; */
   
    border: 3px solid #b59f5b;
    top: -38px;
    left: -3px;
    bottom: -3px;
}

.goods-title {
        font-size: 17px;
    line-height: 22px;
    color: #0f0d0e;
    font-weight: 700;
        text-transform: uppercase;
        margin-bottom: 4px;
}

.goods-text {
    font-size: 15px;
line-height: 22px;
color: #0f0d0e;
font-weight: 400;
margin-bottom: 22px;
}

.goods-link {
    color: #b59f5b;
}

.goods-link:hover {
    /* -webkit-appearance: none;
    -moz-appearance: none; */
    text-decoration: underline;
}

.goods-order-box {
    display: flex;
    justify-content: space-between;
}


.price-before {
    display: block;
    font-size: 14px;
line-height: 24px;
text-decoration: line-through;
color: #0f0d0e;
font-weight: 700;
}

.new-price {
    display: block;
    font-size: 20px;
line-height: 24px;
color: #0f0d0e;
font-weight: 700;
}

.goods-order-btn {
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 140px; /* единств.отл.,
     объединить правила*/
height: 48px;
background-color: #b59f5b;
    

font-size: 14px;
line-height: 40px;
color: #ffffff;
font-weight: 700;
font-family: "Open Sans", sans-serif;
  text-transform: uppercase;  
box-sizing: border-box;
    border-style: none;
}

.social {
    width: 330px;
height: 82px;
background-color: #f4f7f6;
margin-left: 15px;
margin-top: 43px;


}

.social-list {
    display: flex;
    padding: 30px 58px;
    justify-content: space-between;
}

.social-link {
    display: block;
    width: 22px;
    height: 22px;
    color: #000;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.twitter {
    background-image: url(../svg/004-twitter.svg);
}

.pinterest {
    background-image: url(../svg/001-pinterest.svg);
}

.facebook {
    background-image: url(../svg/002-facebook-logo.svg);
}

.instagram {
    background-image: url(../svg/005-instagram.svg);
}

.tumblr {
    background-image: url(../svg/003-tumblr.svg);
}

.copyright {
    height: 110px;
    padding-top: 43px;
text-align: center;
}

.copyright-text {
    font-size: 12px;
color: #999999;
font-weight: 700;

}